/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */



/*Home.html page*/
.navbar {
    background-image: url(../images/navbar.png);
}

.nav-link {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.logo {
    height: 40px;
}