/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

* {
    background-color:#193B53;
    margin: 0;
    padding: 0;
}

/*Home.html page*/
.navbar {
    background-image: url(../images/navbar.png);
}

.nav-link {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
body {
    background-color: #193B53;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x_bg {
    position: absolute;
    display: inline;
}

.top_title {
    top: 400px;
    left: 200px;

}


.text_box {
    font-family: 'Merriweather', serif;
    position: absolute;
    display: inline;
    text-align: center;
    top: 300px;
    left: 830px;
    width: 300px;
    height: 100px;
    font-weight: lighter;
    background-color: #ffffff;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    opacity: 0.5;
    text-transform: uppercase;
}

.headline {
    display: inline;
    position: absolute;
    top: 60px;
    left: 1000px;
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    font-size: 100px;
    font-weight: lighter;
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.logo {
    height: 40px;
}

.cardwrap {
    display: flex;
    height: 600px;
    border: 2px solid #006100;
    padding-left: 300px;
    padding-right: 300px;

}

.card-img {
    border: solid black 1px;
    margin-top: 50px;
    height: 400px;
    width: 200px;

}

.test {
    height: 200px;
    border: 1px solid black;
    width: 300px;
    margin-bottom: 20px;
}

/* Footer Styling */

.footerw {
    background-image: url(/assets/images/NAV\ footer.jpg);
    width: 100%;
    height: 300px;
}
/* About page */
#about-intro {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 0 20px 0 20px;
}

#about-intro h1 {
    padding-bottom: 1.5em;
}

.about-us-img-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}

.participant {
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.participant > .participant-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid rgb(95, 95, 95);
}

.participant-github { 
    width: 35px;
    height: 35px;
    text-align: center;
}