/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

* {
    margin: 0;
    padding: 0;
}

/*Home.html page*/
.navbar {
    background-image: url(../images/navbar.png);
}

.nav-link {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.logo {
    height: 40px;
}

.cardwrap {
    display: flex;
    height: 600px;
    border: 2px solid #006100;
    padding-left: 300px;
    padding-right: 300px;

}

.card-img {
    border: solid black 1px;
    margin-top: 50px;
    height: 400px;
    width: 200px;

}

.test {
    height: 200px;
    border: 1px solid black;
    width: 300px;
    margin-bottom: 20px;
}

/* Footer Styling */

.footerw {
    background-image: url(/assets/images/footerimg.png);
    height: 225px;
    overflow: hidden;
}

.navlink {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 10px;
    font-family: 'Pacifico', cursive;
}

.socialm {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navlink a {
    text-decoration: none;
    color: white;
}

.socialm a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.top {
    text-decoration: none;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.top i {
    padding: 25px;
}

.copyright {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 17px;
}

/* About page */
#about-intro {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 0 20px 0 20px;
}

#about-intro h1 {
    padding-bottom: 1.5em;
}

.about-us-img-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}

.participant {
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.participant>.participant-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid rgb(95, 95, 95);
}

.participant-github {
    width: 35px;
    height: 35px;
    text-align: center;
}